<a href="https://colab.research.google.com/github/bmt21406/bmt_python/blob/main/21406_9%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
s = pd.Series(  [1, 2, 5, np.nan, 6, 8]  )

In [7]:
s

0    1.0
1    2.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
type(s)

pandas.core.series.Series

In [9]:
type( [ ] )

list

In [10]:
type('afdsafd')

str

In [16]:
pd.date_range('20210430', periods = 6)

In [12]:
range(0, 5)

range(0, 5)

In [17]:
dates=pd.date_range('20210430', periods = 6)

In [18]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [19]:
df

                   A         B         C         D
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-05-02  1.757410  1.285293  0.162985  2.209192
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450

In [30]:
df2 = pd.DataFrame(
    {
        'A':1.,
        'B':pd.Timestamp('20210430'),
        'C':pd.Series(1, index=list(range(4)), dtype='float32' ),
        'D':np.array([3]*4, dtype='int32'),  
        'E':pd.categorial(['test','train','test','train'])
        'F':'foo' 
    }

)

SyntaxError: ignored

In [25]:
type(df2)

NameError: ignored

In [26]:
df2.dtypes

NameError: ignored

In [32]:
df

                   A         B         C         D
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-05-02  1.757410  1.285293  0.162985  2.209192
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450

In [35]:
df.head(1)

                   A        B         C         D
2021-04-30  0.016615  0.76219  0.128831 -2.264632

In [36]:
df.tail(2)

                   A         B         C         D
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450

In [37]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [39]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [40]:
df.values

array([[ 0.016615  ,  0.76219017,  0.12883135, -2.26463221],
       [ 1.0778475 ,  0.35095164, -0.01240255,  1.12589383],
       [ 1.75740966,  1.28529327,  0.16298542,  2.20919173],
       [ 0.26601251, -1.49649771, -0.37162388,  0.40191014],
       [-1.18657858,  0.52306231, -0.31579096,  0.40662818],
       [-0.61368631, -1.23717532, -0.7300663 ,  0.9164496 ]])

In [42]:
df

                   A         B         C         D
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-05-02  1.757410  1.285293  0.162985  2.209192
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450

In [43]:
df.T

   2021-04-30  2021-05-01  2021-05-02  2021-05-03  2021-05-04  2021-05-05
A    0.016615    1.077847    1.757410    0.266013   -1.186579   -0.613686
B    0.762190    0.350952    1.285293   -1.496498    0.523062   -1.237175
C    0.128831   -0.012403    0.162985   -0.371624   -0.315791   -0.730066
D   -2.264632    1.125894    2.209192    0.401910    0.406628    0.916450

In [45]:
df.sort_index(axis=0,ascending=True)

                   A         B         C         D
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-05-02  1.757410  1.285293  0.162985  2.209192
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450

In [46]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-02  1.757410  1.285293  0.162985  2.209192
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-04-30  0.016615  0.762190  0.128831 -2.264632

In [47]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-05-02  1.757410  1.285293  0.162985  2.209192
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450

In [48]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2021-04-30 -2.264632  0.128831  0.762190  0.016615
2021-05-01  1.125894 -0.012403  0.350952  1.077847
2021-05-02  2.209192  0.162985  1.285293  1.757410
2021-05-03  0.401910 -0.371624 -1.496498  0.266013
2021-05-04  0.406628 -0.315791  0.523062 -1.186579
2021-05-05  0.916450 -0.730066 -1.237175 -0.613686

In [49]:
df

                   A         B         C         D
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-05-02  1.757410  1.285293  0.162985  2.209192
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450

In [50]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-02  1.757410  1.285293  0.162985  2.209192

In [51]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [52]:
df

                   A         B         C         D
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-05-02  1.757410  1.285293  0.162985  2.209192
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450

In [55]:
df['C']

2021-04-30    0.128831
2021-05-01   -0.012403
2021-05-02    0.162985
2021-05-03   -0.371624
2021-05-04   -0.315791
2021-05-05   -0.730066
Freq: D, Name: C, dtype: float64

In [57]:
df[  ['A','C','B']]

                   A         C         B
2021-04-30  0.016615  0.128831  0.762190
2021-05-01  1.077847 -0.012403  0.350952
2021-05-02  1.757410  0.162985  1.285293
2021-05-03  0.266013 -0.371624 -1.496498
2021-05-04 -1.186579 -0.315791  0.523062
2021-05-05 -0.613686 -0.730066 -1.237175

In [58]:
df

                   A         B         C         D
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-05-02  1.757410  1.285293  0.162985  2.209192
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450

In [60]:
df[0:1]

                   A        B         C         D
2021-04-30  0.016615  0.76219  0.128831 -2.264632

In [61]:
df['20210430':'20210501']

                   A         B         C         D
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-01  1.077847  0.350952 -0.012403  1.125894

In [62]:
df

                   A         B         C         D
2021-04-30  0.016615  0.762190  0.128831 -2.264632
2021-05-01  1.077847  0.350952 -0.012403  1.125894
2021-05-02  1.757410  1.285293  0.162985  2.209192
2021-05-03  0.266013 -1.496498 -0.371624  0.401910
2021-05-04 -1.186579  0.523062 -0.315791  0.406628
2021-05-05 -0.613686 -1.237175 -0.730066  0.916450

In [65]:
df.log['20210430','A']

AttributeError: ignored